<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-RrNO2UQxLyifziuFiKrKWWH8XYP+d5+jO3jZr6NnudX0bHAy3tRumRkfceWVOdZm" crossorigin="anonymous">
  <div class="container-header" style="background-color: black; padding: 20px;">
    <div class="website-title text-center">
      <a class="navbar-brand" href="index.html" style="color: white;">CHAITANYA BHARATHI INSTITUTE OF TECHNOLOGY</a>
      <div style="color: rgb(226, 224, 224);">Placement Cell</div>
    </div>

    <div class="d-flex justify-content-end align-items-center">
      <a href="mailto:placements@rit.ac.in" class="btn btn-primary me-3">Contact Us</a>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><span><h3>Welcome&nbsp<%= student.student_name %></h3></span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link nav-link-lg" href="/home?id=<%= student._id %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-lg" href="/myApplications?id=<%= student._id %>">My Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-lg" href="/upcomingPlacements?id=<%= student._id %>">Upcoming Placements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-lg" href="/aboutCompanies?id=<%= student._id %>">About Companies</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/studentProfile/<%= student._id %>">Profile</a>
            <a class="dropdown-item" href="/">Logout</a>
          </div>
        </li> 
      </ul>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.dropdown-toggle').dropdown();
    });
  </script>
</header>